.container{
    box-shadow: 0px 1px 10px gray;
    background: #f0f0f0;
    font-family: Arial, sans-serif;
    font-size: 0.9rem;    
}
#Header{
    box-shadow: 0px 2px 10px grey;
    background: white; 
    margin: 0px -15px;
    padding: 1.2rem !important;
}
#time{
    background: #d9edf7;
    color: #31708f;
}
.dataFields{
    background: #fff;
}
.field{
    background: #f0f0f0;
}
#accordian .fa{
    color: black;
    float: right;
}
.card{
    border: none;
    border-radius: 0px;
    background: white;
}
.card-header{
    background: white;
}
.form-control{
    border-radius: 0px;
}
.btn-outline-secondary:hover{
    background-color: #bbbbbb;
}
.error{
    color: #E55957;
    display: none;
}
.ticker-container {
    overflow: hidden;
}
.ticker-text {
    color: #3838bc;
    font-family: Arial, sans-serif;
    font-size: 0.9em;
    white-space:nowrap;
    display:inline-block;
}
  